{
  "auths": {
    "cloud.openshift.com": {
      "auth": "replace-with-base64-red-hat-cloud-auth"
    },
    "quay.io": {
      "auth": "replace-with-base64-quay-auth-if-needed"
    },
    "registry.connect.redhat.com": {
      "auth": "replace-with-base64-red-hat-connect-auth"
    },
    "registry.redhat.io": {
      "auth": "replace-with-base64-red-hat-registry-auth"
    },
    "cp.icr.io": {
      "auth": "replace-with-base64-cp-colon-ibm-entitlement-key"
    },
    "icr.io": {
      "auth": "replace-with-base64-ibm-cloud-registry-auth-if-needed"
    },
    "private-registry.example.com:5000": {
      "auth": "replace-with-base64-private-registry-auth"
    }
  }
}
